@import "./data/default.css";

/* The following styles don't affect the drawing */

/* square area */

.draw-on-your-screen-square-area {
    outline: 2px solid rgba(255, 0, 0, 0.7);
}

.draw-on-your-screen-square-area:insensitive {
    outline: none;
}

 /* "Ctrl + F1" on-screen-display */

.draw-on-your-screen-helper {
    margin: 0;
    spacing: 0.5em;
}

.draw-on-your-screen-helper StBoxLayout {
    spacing: 7em;
}

.draw-on-your-screen-helper StBoxLayout StLabel {
    text-align: right;
    font-weight: normal;
}

.draw-on-your-screen-helper-separator {
    min-height: 0.6em;
}

/* context menu */

.draw-on-your-screen-menu {
   font-size: 0.97em; /* default: 1em */
}

.draw-on-your-screen-menu .popup-menu-item {
    padding-top: .3em; /* default: .4em */
    padding-bottom: .3em;
}

.draw-on-your-screen-menu .popup-menu-icon {
    icon-size: 1em; /* default: 1.09 */
    padding-top: 0.03em;
}

.draw-on-your-screen-menu .toggle-switch {
    height: 1.35em; /* default: 22px */
}

.draw-on-your-screen-menu-separator-item {
    padding-top: 0.14em;
    padding-bottom: 0.14em;
}

.draw-on-your-screen-menu-separator-item StLabel {
    font-size: 0;
}

.draw-on-your-screen-menu-separator-item .popup-separator-menu-item {
    margin-top: 0.2em; /* default 6px */
    margin-bottom: 0.2em; /* default 6px */
}

.draw-on-your-screen-menu-slider-label {
    min-width: 3em;
    text-align: right;
}

.draw-on-your-screen-menu-entry-item {
    padding-right: 1.15em; /* default 1.75em */
    spacing: 0; /* default 12px */
}

.draw-on-your-screen-menu-entry {
    border: none;
    border-radius: 3px;
    padding: 0.35em 0.57em;
    width: 10em;
}

.draw-on-your-screen-menu-entry-error {
    color: #f57900; /* upstream warning_color */
}

.draw-on-your-screen-menu-entry:focus {
    padding: 0.35em 0.57em;
}

.draw-on-your-screen-menu-delete-button:hover {
    color: #f57900;
}
 
 
